*.un~
*.sw[op]
__pycache__
.vscode
tests/*.res
tests/messages
tests/debuglog
test.log
*.testlog
gadgets/
package/
*.pyc
*.dSYM
README.md.orig.*
README.md.toc.*
.DS_Store
*.vimspector.log
support/test/csharp/*.exe*
.neomake.log
configurations/
venv/
test-base*/
tags
Session.vim
.vimspector.session
tiny
